*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ccffff
}

header{
    display: flex;
    margin-bottom: 2rem;
    padding: 2rem;
    color: #43c1cd;
}

.parrafos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
}
